/* Goggle Web Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nanum+Pen+Script&display=swap');

/* XEICON CDN */
@import url('//cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

body {
    font-size: 15px;
    margin: 50px;
    line-height: 1.6em;
}

.dropdown {
    width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn{
    /* inherit : 부모요소 가로길이 상속받음 */
    width: inherit;
    background-color: #3e8341;
    border: none;
    color: #fff;
    padding: 7px;
}

.dropdown-content{
    display: none;
    box-shadow: 0 0 5px lightgray;
}

.dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}