* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

.frame {
    /* border: 1px solid #000; */
    width: 800px;
    height: 200p;
}

.frame img {
    float: right;
}

/* .frame img {
    float: right;
}
.frame p {
    clear: left;
    float: none;
}
 */