* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

.margin-padding-frame {
    border: 5px solid #000;
}

.item {
    border: 5px solid red;
    height: 100px;
    padding: 30px;
    /* margin: 50px; */
    /* 마진 겹침 현상은 상하에만 적용됨 */
    display: inline-block;
    width: 33.3333%;
    box-sizing: border-box;
    margin-right: -5px;
    /* 네거티브 마진 */
}

.parent {
    border: 1px solid #000;
    display: inline-block;
}
.child {
    background-color: crimson;
    width: 100px;
    height: 100px;
    /* margin: 50px; */
    /* margin: 50px 25px; */
    margin: 10px 20px 30px 40px;
}