* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

.frame {
    width: 300px;
    margin-top: 50px;
    overflow: hidden;
}
.frame div {
    border: 1px solid red;
    float: left;
    height: 100px;
    width: 100px;
}

