/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


/* * {
  box-sizing: border-box;
} */

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  margin: 50px;
  background-color: #fff;
  font-size: 15px;
}

/* 필수 폼 가상클래스, 로그인 폼 CSS 디자인 */
.login {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.login b {
  /* width: 100px;
  display: inline-block; */
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  /* text-align: left; */
}
.login .field {
  margin: 10px 0;
  /* text-align: center; */
}
.login .field.user-check {
  text-align: center;
  font-size: 14px;
}

/* .login .field input[type=text],
.login .field input[type=email],
.login .field input[type=password],
.login .field select,
.login .field textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
} */

.login .field :is(input[type=text], input[type=email], input[type=password], select, textarea) {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}

.login .field textarea {
  height: 100px;
}
.login button {
  width: 100%;
  border: none;
  padding: 7px;
  background-color: limegreen;
  color: #fff;
  cursor: pointer;
}

/* Form Element Icon Image */
/* .login .field input[type=text],
.login .field input[type=email],
.login .field input[type=password] {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: center left 5px;
} */

.login .field :is(input[type=text], input[type=email], input[type=password]) {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: center left 5px;
}

.login .field input[type=text] {
  background-image: url(images/icon-user.png);
  background-size: 22px;
}
.login .field input[type=email] {
  background-image: url(images/icon-email.png);
  background-size: 22px;
}
.login .field input[type=password] {
  background-image: url(images/icon-password.png);
  background-size: 22px;
}

/* Form Placeholder CSS */
/* .login .field input[type=text]::placeholder,
.login .field input[type=email]::placeholder,
.login .field input[type=password]::placeholder,
.login .field textarea::placeholder {
  color: #bbb;
  transition: 0.35s;
} */

.login .field :is(input[type=text], input[type=email], input[type=password], textarea)::placeholder {
  color: #bbb;
  transition: 0.35s;
}

/* Form Focus CSS */
/* .login .field input[type=text]:focus,
.login .field input[type=email]:focus,
.login .field input[type=password]:focus,
.login .field textarea:focus,
.login .field select:focus {
  border: 1px solid limegreen;
} */

.login .field :is(input[type=text], input[type=email], input[type=password], textarea, select):focus {
  border: 1px solid limegreen;
}

/* Form Placeholder & Focus CSS */
/* .login .field input[type=text]:focus::placeholder,
.login .field input[type=email]:focus::placeholder,
.login .field input[type=password]:focus::placeholder,
.login .field textarea:focus::placeholder {
  opacity: 0;
  visibility: hidden;
} */

.login .field :is(input[type=text], input[type=email], input[type=password], textarea):focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

/* Custom Checkbox & Radio */
.login .field input[name=event] {
  display: none;
}
.login .field input[name=event] + em {
  /* border: 1px solid #000; */
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(images/checkbox-03.png) no-repeat;
  background-position: left;
  transform: translateY(3px);
}
.login .field input[name=event]:checked + em {
  background-position: right;
}

.login .field input[name=agree] {
  display: none;
}
.login .field input[name=agree] + em {
  /* border: 1px solid #000; */
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(images/radio-01.png) no-repeat;
  background-position: left;
  transform: translateY(3px);
}
.login .field input[name=agree]:checked + em {
  background-position: right;
}
.login .field input[name=agree]:checked + em + span {
  color: crimson;
}