* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

.items div {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
}
.item1 {
    position: static
}
.item2 {
    background-color: yellowgreen;
    position: relative;
    left: 100px;
    top: 100px;
    /* 부모 요소 관계를 맺을때  */
    /* 좌표, z-index를 사용해야하는 경우 */
    /* relative : 상대적 */
}
.item3 {
    background-color: crimson;
    position: absolute;
    right: 0;
    top: 0;
    /* 위치를 배치할때는 absolute를 많이 씀 */
}

