* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

body {
    margin: 0;
}

/* Common CSS */

.container [class*=inner]{
    border: 1px solid #000;
    width: 1200px;
    margin: auto;
}

header{
    background-color: #ddd;
    height: 100px;
}

