/* Goggle Web Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Nanum+Pen+Script&display=swap');

/* XEICON CDN */
@import url('//cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
    outline: none;
}

body {
    font-size: 15px;
    margin: 50px;
    line-height: 1.6em;
}

.frame a {
    text-decoration: none;
    display: block;
}

.frame a:link {
    color: #000;
}

.frame a:visited {
    color: green;
}

.frame a:hover {
    color: blue;
}

.frame a:active {
    color: red;
}

.buttons {
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    /* border: 1px solid #000; */
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    background-color: #00a8ff;
    width: 160px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.7;
    /* background-color: black; */
}

.success{
    background-color: #4cd137;
}
.warning{
    background-color: #fbc531;
}
.error{
    background-color: #EE5A24;
}
.critical-error{
    background-color: #EA2027;
}

.download {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    background-color: #00d2d3;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    transition: 0.35s;
    padding-right: 30px;
}
.download:hover {
    background-color: #01a3a4;
}

.download i {
    /* vertical-align: middle; */
    transform : translate(-15px, 2px);
    opacity: 0;
    transition: 0.35s;
}

.download:hover i {
    transform : translate(-5px, 2px);
    opacity: 1;
    
}
.download:active {
    transform: scale(0.7)
}