/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  background-color: #000;
  color: #fff;
}

.frame {
  width: 800px;
  margin: auto;
  padding: 1em;
}
.frame h1 {
  text-align: center;
}
.frame .greeting::first-letter {
  color: crimson;
  font-size: 2.8em;
  margin-right: 5px;
  float: left;
  /* vertical-align: middle; */
  /* display: inline-block; */
  /* transform: translateY(-10px); */
  line-height: 1;
}
.frame .item p span {
  display: list-item;
  margin-left: 23px;
  list-style: circle;
}